{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Bienvenue sur notre projet</h1>
    <h4 class="text-center">Vous trouverez ici la liste des fonctionalités develloper</h4>
    <main>
        <div class="card text-center mt-5 mb-5">
            <div class="card-body">
                <h5 class="card-title">Envoyer un mail</h5>
                <p class="card-text">Ici vous pouvez tester le formulaire pour envoyer un Mail. Il est possible d'envoyer des PJ :).</p>
                <a href="/mail" class="btn btn-primary">Tester l'envoie de mail</a>
            </div>
        </div>
        <div class="card text-center mt-5 mb-5">
            <div class="card-body">
                <h5 class="card-title">Voir les mails envoyé</h5>
                <p class="card-text">Ici vous pouvez voir tout les mail envoyer.</p>
                <a href="/show/mails" class="btn btn-primary">Voir les mails envoyé</a>
            </div>
        </div>
        <div class="card text-center mt-5 mb-5">
            <div class="card-body">
                <h5 class="card-title">Convertir un csv en exel</h5>
                <p class="card-text">Ici vous pouvez effectuer la convertion d'un csv en exel.</p>
                <a href="/show/mails" class="btn btn-primary">Tester la convertion</a>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Site realisé par Basile REGNAULT et Walid HALLOULI.
    </div>
{% endblock %}