{% extends '../base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="text-center">
    <h4 class="display-4">4<span style="color: #e34545">0</span>4</h4>
    <h5 class="display-5">Oups! Page introuvable</h5>
    <p>Désolé mais la page que vous recherchez n'existe pas</p>
    <a class="stretched-link" href="/">Retour à la page d'accueil</a>
  </div>
{% endblock %}
